extends game-layout
block content
    .container
        #players-group
            each player in players
                .box1(id=player.id)
                    img.avatar-on-plate(src=player.imageurl)
                    img.plate(src='/images/in-game-static-images/avatar-plate.png')
                    h3.health-text 99%
                    h3.xp-text 100
        .game-play-area
            | Game-Play-Area
            img#deck(src='/images/PNG-cards-1.3/red_joker.png', width='240px', height='320px')
            .card-container
                 img#card(src=currentCardURL, width='240px', height='320px')
            p ---------------------------------------------------------------------------
            p#gameMsg= gameMsg
        #user-interface
            .player-card-board
                img.sushi-ability(src='/images/game-room/sushi-ability-1.png')
                img.jack-card-ability(src='/images/game-room/jack-card-ability-1.png')
                img(src='/images/game-room/player-card-board.png')
                h3.health-text 99%
            .mood-board
                img(src=players[0].imageurl , width='200', height='200')
            .chat
                img#modal-btn(src='/images/in-game-static-images/chat-icon.png')
                // The Modal
                #chat-modal.modal
                    // Modal content
                    .modal-content
                        span.close ×
                        ul#modal-messages(class ="messages")
                        input#modal-input.input-messages(placeholder = ".. Chat ..")



