extends layout
block content
    div(class="container")
        div(class= "game-lobby")
            h1 Game Lobby
            div(class="title-section")
                h2= gameName
                h3= statusMessage
            div(class = "players")
            each player in players
                img(class=player.id, src=player.path)
                h3=player.username
            div(class="chat-area")
                ul(class ="messages")
            input(class = "input-messages" placeholder = ".. Chat ..")






