extends layout



block content
    h1= username

    h2#avatarName= avatarName
    h2(class="jack-card")
    h2(class="sushi-ability")

    img#previousAvatar(src='/images/leftArrow.jpg', width='50' , height='50')
    img#avatar(src=avatarImgPath, alt="Image Title", data-avatarid = avatarID , height="200", width = '200')
    img#nextAvatar(src= '/images/rightArrow.jpg', width = '50' , height = '50')

    each card in sushiCardList
        img.sushicardimg(src=card.path, alt="Image Title", id=card.id , height="200", width = '200')

    h3#sushiruletext=sushiruleText
    each card in ruleCardList
        img.rulecardimg(src=card.path, alt="Image Title", id=card.id , height="200", width = '200')

    h3#rulecardtext=rulecardText

    h2(class="create-character")
    img#create-button(src='/images/create-button.jpg')

    h1(class= "sushi-ability")
    script(src='/javascripts/jquery-3.2.1.js')
    script(src='/javascripts/toggle-avatar.js')
    script(src='/javascripts/static-sushicard.js')
    script(src='/javascripts/static-rulecard.js')